* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-y: hidden; */
    
}
::-webkit-scrollbar{
    display: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;


}

::-webkit-scrollbar {
    display: none;
}

/*  wrapper*/
.wrapper {
    margin: 0 auto;
    /* border: 3px solid red; */
}


@media (min-width:1200px){
    .wrapper {
        width: 1170px;
        margin: 0 auto;
        /* border: 1px solid; */
    }  
}
@media (min-width:992px) and (max-width:1199px){
    .wrapper {
        width: 970px;
        /* border: 1px solid; */
    }   
}
@media (min-width:768px) and (max-width:991px){
    .wrapper {
        width: 720px;
        /* border: 1px solid blue; */
    }   
}

@media (min-width:580px) and (max-width:767px){
    .wrapper {
        width: 550px;
        
        /* border: 1px solid green; */
    }   
}

@media (min-width:425px) and (max-width:579px){
    .wrapper {
        width: 400px;
        
        /* border: 1px solid red; */
    }   
}

 @media (min-width:320px) and (max-width:424px){
    .wrapper {
        width: 300px;        
        /* border: 1px solid red; */
    }   
} 


/* header section */

.header-container {
    border-bottom: 1px solid #f0f0f0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: .4rem 0;
    /* border-bottom: 1px solid #f0f0f0; */
    /* flex-wrap: wrap; */
}


.header-paras {
    display: flex;
    /* border: 1px solid; */
    /* flex-wrap: wrap; */
}


.header-paras p {
    display: flex;
    gap: .4rem;
    font-size: clamp(12px, 2vw, 13px);
    color: gray;
    align-items: center;
    /* flex-wrap: wrap; */

}

.header-paras p i {
    font-size: clamp(12px, 2vw, 1.2rem);
    color: #F35424;
}


#header-p1 {
    padding: 0 1rem 0 0;
    border-right: 1px solid #f0f0f0;
}

#header-p2 {
    padding: 0 0 0 1rem;
}


.header-icons {
    display: flex;
    gap: .9rem;
}

.header-icons i {
    font-size: clamp(12px, 3vw, 15px);
    padding: .5rem;
    border-radius: 50%;
    color: #f0f0f0;
    background: #CDCDCD;
}

.more-icons {
    display: none;
}


/* Navbar section */

nav{
    position: relative;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    /* position: relative; */
    /* border: 1px solid; */
    /* flex-wrap: wrap; */

}

#nav-logo {
    font-size: clamp(14px, 2vw, 20px);
    font-weight: 600;
}

.nav-pages {
    display: flex;
    gap: clamp(1.8rem, 2vw, 2.2rem);
}

.nav-pages ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: clamp(4rem, 2vw, 3rem);
}

.nav-pages ul li {
    font-size: clamp(12px, 2vw, 15px);
    list-style: none;
    display: flex;
    /* font-weight: 600; */
}

.nav-pages .menu {
    display: none;
}

.nav-pages ul li:nth-child(1) {

    color: #F35424;

}

.nav-btn {
    /* background-color: ; */
    background: #1E1E1E;
    padding: 0 1rem 0 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 21px 21px 21px 21px;
}

.nav-btn p {
    padding: 12px 15px;
    /* padding: 1rem; */
    font-size: clamp(12px, 2vw, 13px);
}

.nav-btn i {
    font-size: clamp(12px, 2vw, 15px);
    color: white;
    background-color: #F35424;
    padding: .8rem;
    border-radius: 50%;
}

/* sidebar */
.sidebar {
    z-index: 999;
    position: fixed;
    top: 9%;
    right: -100%;  
    width: 100%;
    height: 100vh;
    background-color:white;
    transition: right 300ms ease-in-out;
    z-index: 999;
    /* border: 2px solid; */
    display: none;
}

 .toggle-btn {
    position: absolute;
    top: 10px;
    right:10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    /* background: red; */
}

 .toggle-btn span {
    position: absolute;
    width: 70%;
    height: 3px;
    background: #111;
    transition: all 0.3s ease-in-out;
}

 .toggle-btn span:nth-child(1) {
    top: 8px;
}

 .toggle-btn span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

 .toggle-btn span:nth-child(3) {
    bottom: 8px;
}

.sidebar .links{
margin-top: 2rem;

}

.sidebar .links a {
    font-size: 18px;
    display: block;
    padding: 2rem 2rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}

.sidebar .links .active {
    color: red;
}

.sidebar .links .active:hover
.sidebar .links a:hover {
    color: red;
    color: #111;
}

.sidebar.active {
    right: 0;
}



.sidebar-btn {
    /* background-color: ; */
    background: #1E1E1E;
    padding: 0 1rem 0 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 21px 21px 21px 21px;
    width:170px;
    margin: 30px 0 0 2rem;
}

.sidebar p {
    padding: 12px 15px;
    /* padding: 1rem; */
    font-size: clamp(12px, 2vw, 13px);
}

.sidebar i {
    font-size: clamp(12px, 2vw, 15px);
    color: white;
    background-color: #F35424;
    padding: .8rem;
    border-radius: 50%;
}



@media (min-width:768px) and (max-width:1024px) {
    .nav-pages ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: clamp(2rem, 2vw, 4rem);
    }

    .nav-btn {
        background: #1E1E1E;
        padding: 0 .8rem 0 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 21px 21px 21px 21px;
    }

    .nav-btn p {
        padding: 10px .8rem;
        /* padding: 1rem; */
        font-size: clamp(10px, 2vw, 13px);
    }

    .nav-btn i {
        font-size: clamp(8px, 2vw, 15px);
        color: white;
        background-color: #F35424;
        padding: .8rem;
        border-radius: 50%;
    }

}

@media (min-width:425px) and (max-width:768px) {

.header{
    display: none;
}

    .header-paras p {
        display: flex;
        gap: .2rem;
        font-size: clamp(13px, 1vw, 12px);
        color: gray;
        align-items: center;
        /* flex-wrap: wrap; */
        text-wrap: nowrap;

    }


    .header-paras p i {
        font-size: clamp(12px, 2vw, 1rem);
        color: #F35424;
    }


    #header-p1 {
        padding: 0 .5rem 0 0;
        border-right: 1px solid #f0f0f0;
    }

    #header-p2 {
        padding: 0 0 0 .5rem;
    }


    .header-icons {
        display: flex;
        gap: .2rem;
    }

    .header-icons i {
        font-size: clamp(9px, 1vw, 10px);
        padding: .4rem;
        border-radius: 50%;
        color: #f0f0f0;
        background: #CDCDCD;
    }


    /* navbar */

    .nav-pages ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: clamp(1.5rem, 2vw, 2.2rem);
    }

    .nav-pages ul li {
        font-size: clamp(12px, 2vw, 16px);
        list-style: none;
        display: flex;
        /* font-weight: 600; */
    }

    .nav-btn {
        background: #1E1E1E;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 21px 21px 21px 21px;
        display: none;
    }

    .nav-btn p {
        padding: 0 1.5rem;
        /* padding: 1rem; */
        font-size: clamp(14px, 2vw, 14 px);
    }

    .nav-btn i {
        font-size: clamp(12px, 2vw, 15px);
        color: white;
        background-color: #F35424;
        padding: .7rem;
        border-radius: 50%;
    }


}

/* @media (min-width:425px) and (max-width:500px) {
   


    .header-icons {
        display: flex;
        gap: .2rem;
        display: none;
    }
} */


@media (max-width:425px) {

    /* header */

    .header {
        display: none;
    }


    /* navbar */



    #nav-logo {
        font-size: clamp(20px, 2vw, 20px);
        font-weight: 600;
    }


    .nav-pages ul li {
        display: none;

    }


    .nav-pages .menu {
        display: flex;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .nav-btn {
        background: #1E1E1E;
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 21px 21px 21px 21px;
        display: none;
    }

/* sidebar */
    .sidebar{
        display: block;
        }

        .toggle-btn{
            display: block;
        }    

}




/* carousel */

.caro-container {
    width: 100vw;
    height: 100vh;

}

.item{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;  
}



.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    background-repeat: no-repeat;

}

.caro-taxt {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%);
    gap: 1rem;
    top: 45%;
    left: 50%;
    z-index: 1;
}



.caro-taxt p:nth-child(1) {
    background-color: white;
    /* padding-top:1rem; */
    /* font-size: .5rem; */
    color: black;
    width: 120px;
    height: 20px;

    
    /* padding: 1rem 2rem; */


}

.caro-taxt :first-child span {
    color: red;
}

.caro-taxt :nth-child(2) {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;

}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%; 
    width: 100%;
    transform: translateY(-50%); 
    display: flex;
    justify-content: space-between;
}

.owl-carousel .owl-nav button {
    background-color: white; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size:50px ;
}

.owl-carousel .owl-nav button:hover {
    /* background: rgba(0, 0, 0, 0.8);  */
}


@media (min-width:768px) and (max-width:1024px) {

    .caro-taxt :nth-child(2) {
        color: white;
        font-size: 3vmax;
        font-weight: 600;
        line-height: 2.5rem;
    }
    
}

@media (min-width:768px) and (max-width:1024px) {

    .caro-taxt :nth-child(2) {
        color: white;
        font-size: 3vmax;
        font-weight: 600;
        line-height: 2.5rem;
    }
    
}
@media (min-width:320px) and (max-width:425px) {

    .caro-taxt :nth-child(2) {
        color: white;
        font-size: 6.5vmin;
        font-weight: 600;
        line-height: 10vmin;
    }
    
}


@media (max-width: 1000px) {

    .caro-container,
    .item-img {
        width: 100vw;
        height: 100vh;
    }

    .item-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
}

@media (max-width: 600px) {

    .caro-container,
    .item-img {
        width: 100vw;
        height: 100vh;
    }

    .item-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
}



/* appartments */
.apparts {
    margin: 8rem 0 1rem 0;
    padding-left: 2.5rem;
    /* border: 1px solid red; */
    display: flex;
    gap: 3rem;
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
    grid-column-gap: 3rem;
    background: #FFFFFF;
}

.appart-img {

    width: 30%;
    height: 400px;
    position: relative;
    flex-shrink: 0;
}

.appart-img img {
    flex-shrink: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.appart-img i {
    position: absolute;
    bottom: -8%;
    left: -12%;
    border-radius: 50px;
    font-size: clamp(45px, 2vw, 24px);
    color: white;
    padding: 1.2rem;
    background-color: #F35424;
}

.apparts-view {
    /* border: 1px solid red;  */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 15px;
    /* justify-content: space-between; */
     width: 400px;
}


.appart-featured {
    color: #F35424;
    font-size: clamp(12px, 2vw, 12px);
    font-weight: 600;
    border-left: 3px solid #F35424;
    padding: 0 0 0 4px;
}

.appart-title {
    font-size: clamp(15px, 2vw, 32px);
    /* margin-top: 1.2rem; */
    font-weight: 600;
    color: #1E1E1E;
}

.appart-links {
    /* padding:2rem 0; */
    margin-top:2rem;
    max-width: 500px;
    /* min-width: 150px; */
    /* height: 200px; */
    background: #FAFAFA;
    /* padding-right:1rem; */
    width: 100%;
    border-radius: 10px;
    /* border: 1px solid; */

}

.appart-links h6 {
    color: #F35424;
    /* border-bottom: 1px solid gray; */
    padding: 1rem 2rem 1rem 1rem;
    font-size: clamp(12px, 1vw, 12px);
    /* border: 1px solid; */
}

#appart-border1 {
    border: 1px solid #f0f0f0;
    padding-left: 0;

}

.appart-p1 {
    color: #5C5C5C;
    padding: 1rem 2rem 0 1rem;
    font-weight: 400;
    font-size: .8rem;

}

#appart-p1-sp1 {
    color: #1E1E1E;
    /* color: black; */
    font-weight: 600;
    /* border: 1px solid red; */
}

#appart-p1-sp2 {
    color: #2E81FD;
}

.appart-p2 {
    font-size: .9rem;
    margin: 2rem 0 0 0;
    padding: 1rem 2rem 1rem 1rem;
    /* border-bottom: 1px solid grey;  */
    color: #5C5C5C;
    /* font-weight: 600; */
}

#appart-border2 {
    border: 1px solid #f0f0f0;
    padding-left: 0;


}

.appart-p3 {
    font-size: .8rem;
    /* font-weight: 600; */
    color: #5C5C5C;
    padding: 1rem 0 1rem 1rem;

}


.appart-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 20px #f0f0f0;
    padding: 1rem 14px;
    width:250px;
    height: 390px;
    /* background-color: #2E81FD; */

}

.appart-detail {
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 0 1rem 2rem 1rem;
    border-bottom: 1px solid #f0f0f0;
    /* border: 1px solid; */

}



.appart-detail-para {}

.appart-detail-para :nth-child(1) {
    font-size:18px;
    color: black;
    font-weight: 600;
}

.appart-detail-para :nth-child(2) {
    font-size: clamp(12px, 2vw, 10px);
    color: gray;
    padding-top: .4rem;
    /* font-weight: 600; */
}
.appart-detail i {
    font-size: 3rem;
    gap: 2px;
    color: #F35424;
}


.appart-detail-last {
    display: flex;
    gap: 18px;
    align-items: center;
    padding: 0 1rem 1.5rem 1rem;
    /* border: 1px solid #f0f0f0; */

}

.appart-detail-last i {
    font-size:3rem;
    /* gap: 2px; */
    color: #F35424;
}


@media only screen and (max-width:991px) {
    .apparts {
        padding-left:0px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 2rem;
        background: #FFFFFF;
    }
    .appart-img {
        padding-left: 2rem;
        width: 100%;
        height:100%;
        position: relative;
        flex-shrink: 0;
    }
    .appart-img i {
        bottom: -10%;
        left: -1%;
        font-size: 35px;
    }
    .apparts-view {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 13px;
        /* justify-content: space-between; */
        width: 358px;
    }

    .appart-featured {
        color: #F35424;
        font-size: 14px;
        font-weight: 600;
        border-left: 3px solid #F35424;
        padding: 0 0 0 4px;
    }

    .appart-title {
        font-size: 30px;
        /* margin-top: 1.2rem; */
        font-weight: 600;
        color: #1E1E1E;
    }
    .appart-links {
        margin-top: 1rem;
        background: #FAFAFA;
    }
    .appart-links h6 {
        font-size: 14px;
    }
    .appart-p1 {
        color: #5C5C5C;
        padding: 1rem 2rem 0 1rem;
        font-weight: 400;
        font-size: 17px;
    }
    .appart-p2 {
        font-size: 15px;
        margin: 2rem 0 0 0;
        padding: 1rem 2rem 1rem 1rem;
        color: #5C5C5C;
    }
    .appart-p3 {
        font-size: 15px;
        padding: 1rem 0 1rem 1rem;
    }

    .appart-details {
        /* gap: 2rem; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-column-start: 1;
        width: 100%;
        grid-column-end: 3;
        padding: 0;
    }
    .appart-detail {
        padding: 2px 1rem 2rem 3rem;
    }
    .appart-detail-para :nth-child(1) {
        font-size: 22px;
        color: black;
        font-weight: 600;
    }
    .appart-detail i {
        font-size: 3.5rem;
        gap: 2px;
        color: #F35424;
    }
    .appart-detail-para :nth-child(2) {
        font-size: 16px;
        color: gray;
        padding-top: .4rem;
        /* font-weight: 600; */
    }
    .appart-detail-last {
        display: flex;
        gap: 18px;
        align-items: center;
        padding: 0 1rem 1.5rem 3rem;
        /* border: 1px solid #f0f0f0; */
    }
    .appart-detail-last i {
        font-size: 3.5rem;
        /* gap: 2px; */
        color: #F35424;
    }
}

@media only screen and (max-width:767px) {
    .apparts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0;
    }


    .appart-img {
        padding-left: 2rem;
        width: 100%;
        height:100%;
        position: relative;
        flex-shrink: 0;
    }
    .appart-img img {
        flex-shrink: 0;
        object-fit: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        /* border: 1px solid red; */
    }
    .appart-img i {
        bottom: -5%;
        left: -1%;
        font-size: 35px;
    }    

    .apparts-view {
        width: 100%;
        padding-top: 1rem;
    }
}

@media only screen and (max-width:579px) {
    .appart-details {
        margin-top: 10px;
        display: flex;
        padding: 13px 0 0 0;
        height: 438px;
    }
        
}

@media only screen and (max-width:425px) {
    .appart-img img {
        flex-shrink: 0;
        object-fit: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        /* border: 1px solid red; */
    }

    .appart-title {
        font-size: 25px;
        /* margin-top: 1.2rem; */
        font-weight: 600;
        color: #1E1E1E;
    }
    .appart-p1 {
        color: #5C5C5C;
        padding: 1rem 2rem 0 1rem;
        font-weight: 400;
        font-size: 14px;
    }
    .appart-p2 {
        font-size: 14px;
        margin: 2rem 0 0 0;
        padding: 1rem 2rem 1rem 1rem;
        color: #5C5C5C;
    }
    .appart-p3 {
        font-size: 14px;
        padding: 1rem 0 1rem 1rem;
    }
    .appart-details {
        margin-top: 10px;
        display: flex;
        height: 440px;
    }
    .appart-detail {
        gap: 2rem;
        padding: 20px 1rem 2rem 3rem;
    }
    .appart-detail i {
        font-size: 3rem;
        gap: 2px;
        color: #F35424;
    }
    .appart-detail-para :nth-child(1) {
        font-size: 18px;
        color: black;
        font-weight: 600;
    }
    .appart-detail-para :nth-child(2) {
        font-size: 14px;
    }
    .appart-detail-last {
        gap: 2rem;
    }
    .appart-detail-last i {
        font-size: 3rem;
    }
}




/* video section */

.video-section {
    padding-top: 4rem;
}

.video-img {
    /* border: 1px solid red; */
    width: 100%;
    height: 70vh;
    position: relative;
}

.video-img img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    /* z-index: 0; */
    background-repeat: no-repeat;
    filter: blur(4px);
}

.video-view-titles {
    position: absolute;
    /* background: red; */
    /* top: 10%; */
    transform: translate(-50%);
    top: 15%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

}

#video-view-title-1 {
    font-weight: 600;
    font-size: .6rem;
    color: #F35424;
    padding-left: 3px;
    border-left: 3px solid #F35424;


}

#video-view-title-2 {
    text-align: center;
    z-index: 999;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    line-height: 3rem;
}


video {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    left: 50%;
    /* bottom: 50%; */
    width: 70vmax;
    height: 28vmax;
    /* position: absolute; */
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px;
}

/* one more class used  in  html -wrapper */
.video-informations {
    
    /* border: 1px solid; */
    margin-top: 18rem;
    /* margin-bottom: 5rem; */
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    /* margin-bottom: 5rem; */
    /* padding: 0 5rem; */
}

.video-info {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    background-color: #FFEEE9;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    position: relative;

}

.video-info-p1 {
    font-size: 2.5rem;
    color: #F35424;
    font-weight: 600;
}

.video-info-para {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.video-info-para p:nth-child(1) {
    font-size:clamp(20px,1vw,12px);
    color: #1E1E1E;
    font-weight: 500;
}

.video-info-para p:nth-child(2) {
    font-size:clamp(18px,1vw,12px);
    color: #1E1E1E;
    font-weight: 500;
}

#video-info-badge {
    top: -25%;
    right: -10%;
    position: absolute;
    background-color: #F35424;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


/* video section media query */


@media (min-width:1024px) and (max-width:1440px) {
    video {
        /* overflow-x: hidden; */
        position: absolute;
        transform: translate(-50%);
        /* border: 1px solid; */
        top: 70%;
        left: 50%;
        /* bottom: 50%; */
        width: 70vmax;
        height: 28vmax;
        /* position: absolute; */
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 10px;
    }
    .video-informations {
        /* border: 1px solid; */
        margin-top: 18rem;
        /* margin-bottom: 5rem; */
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        /* margin-bottom: 5rem; */
        /* padding: 0 5rem; */
    }
    

}


@media (min-width:768px) and (max-width:1024px) {
    .video-informations {
    
        /* border: 1px solid; */
        margin-top: 6rem;
        /* margin-bottom: 5rem; */
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        padding: 0 .8rem;
        /* margin-bottom: 5rem; */
        /* padding: 0 5rem; */
    }
    
    .video-info {
        display: flex;
        align-items: center;
        gap: 1.8rem;
        background-color: #FFEEE9;
        padding: 1rem 1rem;
        border-radius: 10px;
        position: relative;
    
    }

    .video-info-p1 {
        font-size: 2rem;
        color: #F35424;
        font-weight: 600;
    }
    
    .video-info-para {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
    .video-info-para p:nth-child(1) {
        font-size:clamp(16px,1vw,12px);
        color: #1E1E1E;
        font-weight: 500;
    }
    
    .video-info-para p:nth-child(2) {
        font-size:clamp(15px,1vw,12px);
        color: #1E1E1E;
        font-weight: 500;
    }

    #video-info-badge {
        top: -25%;
        right: -10%;
        position: absolute;
        background-color: #F35424;
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }
    
    
    
    video {
        /* overflow-x: hidden; */
        position: absolute;
        transform: translate(-50%);
        /* border: 1px solid; */
        top: 60%;
        left: 50%;
        /* bottom: 50%; */
        width: 60vmax;
        height: 28vmax;
        /* position: absolute; */
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 10px;
    }

}

@media (min-width:425px) and (max-width:768px) {

    .video-informations {
    
        /* border: 1px solid; */
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    
    .video-info {
        /* border: 1px solid; */
        /* max-width: 400px; */
        width: 300px;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        background-color: #FFEEE9;
        padding: 1.5rem 3rem;
        border-radius: 10px;
        position: relative;
    text-wrap: wrap;
    }

    .video-info-p1 {
        font-size: 2.2rem;
        color: #F35424;
        font-weight: 600;
    }
    
    .video-info-para {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
    .video-info-para p:nth-child(1) {
        font-size:clamp(16px,1vw,12px);
        color: #1E1E1E;
        font-weight: 500;
    
    }
    
    .video-info-para p:nth-child(2) {
        font-size:clamp(16px,1vw,12px);
        color: #1E1E1E;
        font-weight: 500;
    
    }

    #video-info-badge {
        top: -22%;
        right: -8%;
        position: absolute;
        background-color: #F35424;
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }
    
  



    video {
        /* overflow-x: hidden; */
        position: absolute;
        transform: translate(-50%);
        /* border: 1px solid; */
        top: 60%;
        left: 50%;
        /* bottom: 50%; */
        width: 80vmin;
        height: 30vmin;
        /* position: absolute; */
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 10px;
    }

    #video-view-title-2 {
        text-align: center;
        z-index: 999;
        font-size: 1.5rem;  
        color: white;
        font-weight: 600;
        line-height: 3rem;
    }
}


/* @media (min-width:412px) and (max-width:500px) {
    #video-view-title-2 {
        text-align: center;
        z-index: 999;
        font-size: 1.5rem;
        color: white;
        font-weight: 600;
        line-height: 3rem;
    }    
} */

@media (min-width:320px) and (max-width:425px) {
   
    .apparts-view {
        /* border: 1px solid red; */
        gap: 0;
    }    

    .video-informations {
    
        /* border: 1px solid; */
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    
    .video-info {
        /* border: 1px solid; */
        /* max-width: 400px; */
        width: 250px;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        background-color: #FFEEE9;
        padding: 1.5rem 2rem;
        border-radius: 10px;
        position: relative;
    text-wrap: wrap;
    }

    .video-info-p1 {
        font-size: 2.2rem;
        color: #F35424;
        font-weight: 600;
    }
    
    .video-info-para {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
    .video-info-para p:nth-child(1) {
        font-size:clamp(16px,1vw,12px);
        color: #1E1E1E;
        font-weight: 500;
    
    }
    
    .video-info-para p:nth-child(2) {
        font-size:clamp(16px,1vw,12px);
        color: #1E1E1E;
        font-weight: 500;
    
    }

    #video-info-badge {
        top: -22%;
        right: -8%;
        position: absolute;
        background-color: #F35424;
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }
   
   
    video {
        /* overflow-x: hidden; */
        position: absolute;
        transform: translate(-50%);
        /* border: 1px solid; */
        top: 50%;
        left: 50%;
        /* bottom: 50%; */
        width: 80vmin;
        height: 40vmin;
        /* position: absolute; */
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 10px;
    }
    .video-view-titles {
        position: absolute;
        /* background: red; */
        /* top: 10%; */
        transform: translate(-50%);
        top: 10%;
        left: 50%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        width: 100%;
    }


    #video-view-title-2 {
        text-align: center;
        z-index: 999;
        font-size: 25px;
        color: white;
        font-weight: 600;
        line-height: 2.5rem;
    }

    .appart-title {
        font-size: clamp(25px, 2vw, 32px);
        margin-top: 16px;
        font-weight: 600;
        color: #1E1E1E;
    }
   
}


@media only screen and (max-width:320px) {
    video {
        /* overflow-x: hidden; */
        position: absolute;
        transform: translate(-50%);
        /* border: 1px solid; */
        top: 60%;
        left: 50%;
        /* bottom: 50%; */
        width: 80vmin;
        height: 40vmin;
        /* position: absolute; */
        background-repeat: no-repeat;
        object-fit: cover;
        border-radius: 10px;
    }

}


























.best-deal-container {
    background: #FAFAFA;
    margin-top: 5rem;
    padding-top: 4rem;
    /* border: 1px solid; */
}

.deal {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* border: 4px solid green ; */
}

.best-deal{
font-size: 12px;
color: #F35424;
font-weight: 600;
border-left: 2px solid #F35424;
}

.deal-title-and-btns {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */

}
.deal-title-and-btns h2{
font-size :2.1rem;;
}
.deal-title-and-btns .deal-btns{
    padding: 1rem 0 1rem 1rem;
    display: flex;
    gap: 1rem;
    /* border: 1px solid; */

}
.deal-btns .deal-btn{
   padding: .8rem 2rem ; 
   border-radius: 5px;
   border: none;
   font-size: 15px;
}

.deal-btns .deal-btn-1 {
    background-color: #F35424;
    color: white;
}

.deal-btns .deal-btn-2 {
    background-color:#1E1E1E;
    color: white;
}

.deal-cards {
    /* border: 1px solid blue; */
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    padding-bottom: 4rem;
    /* align-items: center; */
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-column-gap: 3rem; */
}

.deal-card-1 {
    box-shadow: 0 0 7px black;
    padding: .4rem 1rem;
    /* width:300px; */
    width: 75%;
    height:310px;
    /* max-height: 35vmax; */
    /* height: auto;/ */
    
}

.deal-card-1-para {
    display: flex;
    gap: 4rem;
    border-bottom: 1px solid #f0f0f0;
    padding: 1.3rem 0;
}


.deal-card-1-para p:first-child {
    font-size: 12px;
    color: gray;
}

.deal-card-1-para p:nth-child(2) {
    font-size: 15px;
    color: #1E1E1E;
    font-weight: 600;
}



.deal-card-1-para1 {
    display: flex;
    gap: 4rem;
    /* border-bottom: 1px solid #f0f0f0; */
    padding: 1.3rem 0;
}

.deal-card-1-para1 p:first-child {
    font-size: 12px;
    color: gray;

}

.deal-card-1-para1 p:nth-child(2) {
    font-size: 15px;
    color: #1E1E1E;
    font-weight: 600;
}



.deal-card-2 {
    /* max-width:36vmax; */
    width: 140%;
    height: 350px;
    /* height: 24vmax; */
    /* border: 1px solid; */
}



.deal-card-2 img {
    width: 100%;
    height: 100%;
    /* height: 100%; */
    object-fit: cover;
    background-repeat: no-repeat;
    /* object-position: top center; */
}


.deal-information {
    /* border: 1px solid red; */
    /* width: 90%; */
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}


.deal-information h3 {
    font-size: 15px;
    color: #1E1E1E;
}

.deal-information p {
    line-height: 1.5rem;
    font-size: 13px;
    color: grey;


}



.deal-information .deal-btn {
    width:60%;
    background: #1E1E1E;
    color: white;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 21px 21px 21px 21px;
}

.deal-btn p {
    padding: 0 1rem;
    color: white;
    font-size: 13px;
}

.deal-btn i {
    font-size: 14px;
    color: white;
    background-color: #F35424;
    padding: 15px;
    border-radius: 50%;
}


/* deal section responsive */
@media only screen and (max-width:1199px) {
    .deal-cards {
        gap: 2.5rem;
    }

    .deal-card-1 {
        width: 80%;        
    }
    
}

@media only screen and (max-width:991px) {
    .deal {
        align-items: center;
        gap: 3rem;
        /* border: 4px solid green ; */
    }
    .deal-title-and-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    
    }

    .deal-cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 3rem;
    }
    .deal-card-1 {
        box-shadow: 0 0 7px black;
        padding: .4rem 1rem;
        /* width:300px; */
        width: 100%;
        height:100%;
        /* max-height: 35vmax; */
        /* height: auto;/ */
        
    }
    .deal-card-1-para {
        display: flex;
        justify-content: space-between;
        /* gap: 4rem; */
        border-bottom: 1px solid #f0f0f0;
        padding: 1.3rem 0;
    }
    
    .deal-card-1-para1 {
        display: flex;
        justify-content: space-between;
        /* gap: 4rem; */
        /* border-bottom: 1px solid #f0f0f0; */
        padding: 1.3rem 0;
    }
    
    .deal-card-2 {
        /* max-width:36vmax; */
        width: 100%;
        height: 350px;
        /* height: 24vmax; */
    }
    
    
.deal-information {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
.deal-information h3 {
    text-align: center;
    font-size: 16px;
    color: #1E1E1E;
}
.deal-information p {
    text-align: center;
    line-height: 1.5rem;
    font-size: 14px;
    color: grey;


}

.deal-information .deal-btn {
    margin:  0 auto;
    width:35%;
    height: 60px;
    /* padding:; */
    /* align-items: center; */
    border-radius: 50px;
}

.deal-btn p {
    padding: 0 1rem;
    color: white;
    font-size: 16px;
}

.deal-btn i {
    font-size: 14px;
    color: white;
    background-color: #F35424;
    padding: 20px;
    border-radius: 50%;
}


}


@media only screen and (max-width:767px) {
    .deal-information .deal-btn {
        margin:  0 auto;
        width:40%;
        height: 60px;
        /* padding:; */
        /* align-items: center; */
        border-radius: 50px;
    }
    
    .deal-btn p {
        padding: 0 1rem;
        color: white;
        font-size: 16px;
    }
    
    .deal-btn i {
        font-size: 14px;
        color: white;
        background-color: #F35424;
        padding: 20px;
        border-radius: 50%;
    }
     
}

@media only screen and (max-width:579px) {
    .deal-title-and-btns h2 {
        font-size: 26px;
    }
    .deal-btns .deal-btn {
        gap:30px;
    }

    .deal-btns .deal-btn {
        padding: .8rem 15px;
        border-radius: 5px;
        border: none;
        font-size: 15px;
    }

    .deal-cards {
        display: flex;
        flex-direction: column;
    }

    .deal-information .deal-btn {
        margin:  0 auto;
        width:50%;
        height: 44px;
        /* padding:; */
        /* align-items: center; */
        border-radius: 50px;
    }
    
    .deal-btn p {
        padding: 0 1rem;
        color: white;
        font-size: 16px;
    }
    
    .deal-btn i {
        font-size: 14px;
        color: white;
        background-color: #F35424;
        padding: 14px;
        border-radius: 50%;
    }
     

}


@media only screen and (max-width:424px) {
   
    .deal-title-and-btns h2 {
        font-size: 22px;
    }
    .deal-title-and-btns .deal-btns {
        padding: 0;
        display: flex;
        gap: 1rem;
        /* border: 1px solid; */
    }
    .deal-btns .deal-btn {
        padding: 6px 12px;
        border-radius: 5px;
        border: none;
        font-size: 12px;
    }




    .deal-information .deal-btn {
        margin:  0 auto;
        width:60%;
        height: 44px;
        /* padding:; */
        /* align-items: center; */
        border-radius: 50px;
    }
    
    .deal-btn p {
        padding: 0 1rem;
        color: white;
        font-size: 14px;
    }
    
    .deal-btn i {
        font-size: 14px;
        color: white;
        background-color: #F35424;
        padding: 13px;
        border-radius: 50%;
    }

}











/* propertt section */

.property-container {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
    padding: 0 1rem;
}


/* Property Header */
.property {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.property h2{
font-size: 2.4vmax;
}
.property p {
    font-size: 0.8vmax;
    font-weight: 600;
    color: #F35424;
    border-left: 2px solid #F35424;
    padding-left: 8px;
}

/* Responsive Property Cards Grid */
.property-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
}

/* Property Card */
.property-card {
    width: 100%;
    /* height: auto; */
    background-color: #FAFAFA;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.property-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    padding: 1rem;
    border-radius: 20px;
}

/* Property Type Section */
.property-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.property-type p:first-child {
    background-color: #FAD9CF;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: .9rem;
}

.property-type p:nth-child(2) {
    font-size: 1rem;
    font-weight: 600;
    color: #F35424;
}

/* Address and Room Info */
.property-address {
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: #1E1E1E;
}

.property-card-room-info{
    padding: 1rem 0 0 1rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    /* border: 1px solid; */
}

.property-card-info {
    padding:.5rem 0 0 1rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    /* border: 1px solid; */
}

.property-card-room-info p, .property-card-info p{
    font-size: 0.8rem;
    color: gray;
    display: flex;
    align-items: center;
    gap: 5px;
    /* border: 1px solid; */
}

.property-card-info span, .property-card-room-info span {
    font-weight: 600;
    color: #1E1E1E;
}

#property-card-info-border {
    border-bottom: 1px solid #f0f0f0;
    margin: 1rem;
}

/* Button Styling */
.property-btn {
    display: block;
    width: fit-content;
    margin: 2rem auto;
    background: #1E1E1E;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 21px;
    font-size: 0.9rem;
    text-align: center;
}



/* property section Responsive */
@media only screen and (max-width: 1024px) {
    .property p {
        font-size: 0.8vmax;
        font-weight: 600;
        color: #F35424;
        border-left: 2px solid #F35424;
        text-align: center;
        padding-left: 3px;
    }
}
@media (min-width:425px ) and (max-width: 768px) {
    .property h2 {
        font-size: 2.4vmax;
        text-align: center;
        line-height: 3.2vmax;
    }
    .property p {
        font-size: 1.2vmax;
        font-weight: 600;
        color: #F35424;
        border-left: 2px solid #F35424;
        padding-left: 5px;
    }
    br{
        display: block;
    }

    .property-cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .property-card img {
        height: 180px;
    }

    .property-type p:first-child {
        background-color: #FAD9CF;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        font-weight: 500;
        font-size: .8rem;
    }
    
    .property-type p:nth-child(2) {
        font-size: .9rem;
        font-weight: 600;
        color: #F35424;
    }
    
    .property-address {
        padding: 1rem;
        font-weight: 600;
        font-size: .8rem;
        color: #1E1E1E;
    }
    
    .property-card-room-info{
        padding: 1rem 0 0 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        /* border: 1px solid; */
    }
    
    .property-card-info {
        padding:.5rem 0 0 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        /* border: 1px solid; */
    }
    .property-card-room-info p, .property-card-info p{
        font-size: 0.7rem;
        color: gray;
        display: flex;
        align-items: center;
        gap: 5px;
        /* border: 1px solid; */
    }
    
    .property-btn {
        display: block;
        width: fit-content;
        margin: 2rem auto;
        background: #1E1E1E;
        color: white;
        padding: 0.7rem 1.5rem;
        border-radius: 21px;
        font-size: 0.8rem;
        text-align: center;
    }
}

@media (max-width: 517px) {
    .property p {
        font-size: 2vmin;
        font-weight: 600;
        color: #F35424;
        border-left: 2px solid #F35424;
        text-align: center;
        padding-left: 3px;
    }
    .property-card img {
        height: 300px;
    }

    .property-card-room-info {
        padding: 1rem 0 0 1rem;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        /* border: 1px solid; */
    }
    .property-card-info {
    padding: .5rem 0 0 1rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    /* border: 1px solid; */
}
    .property-address {
        font-size: 1rem;
        color: #1E1E1E;
    }
    .property-card-room-info p, .property-card-info p {
        font-size: .9rem;
        
    }
}

@media (max-width: 480px) {
    .property p {
        font-size: 2vmin;
        font-weight: 600;
        color: #F35424;
        border-left: 2px solid #F35424;
        text-align: center;
        padding-left: 3px;
    }
    .property-container {
        margin-top: 2rem;
    }
    .property-cards {
        /* border: 1px solid; */
        grid-template-columns: 1fr;
    }
    .property-type {
        /* flex-direction: column; */
        gap: 0.5rem;
        text-align: center;
    }

    .property-type {
        /* flex-direction: column; */
        gap: 0.5rem;
        text-align: center;
    }
    .property-type p:first-child {
        background-color: #FAD9CF;
        padding: 0.4rem .8rem;
        border-radius: 6px;
        font-weight: 500;
        font-size: .8rem;
    }
    
    .property-type p:nth-child(2) {
        font-size: .9rem;
        font-weight: 600;
        color: #F35424;
    }

    .property-btn {
        width: 50%;
    }

    .property-card-room-info p, .property-card-info p {
        font-size: .8rem;
    }
    .property-card-info {
        padding: .5rem 0 0 1rem;
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        /* border: 1px solid; */
    }
    .property-card-info span, .property-card-room-info span {
        font-weight: 600;
        color: #1E1E1E;
        font-size: .7rem;
    }
    .property-btn {
        width: 50%;
        font-size: .7rem;
    }
}
@media (max-width: 320px) {
    .property-type {
        display: flex;
        /* flex-direction: column; */
        gap: 0.5rem;
    }

    .property-cards {
        grid-template-columns: 1fr;
    }
    .property-card {
        padding: 0.5rem;
    }
    .property-card img {
        height: 150px;
    }
    .property-card-info {
        padding: .5rem 0 0 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        /* border: 1px solid; */
    }
    .property-card-room-info p, .property-card-info p {
        font-size: 11px;
    }
    .property-card-info span, .property-card-room-info span {
        font-weight: 600;
        color: #1E1E1E;
        font-size: 9px;
    }
    .property-type p {
        font-size: 0.8rem;
    }
    .property-btn {
        font-size: 0.7rem;
        padding: 0.6rem .5rem;


    }

    .property-address {
    padding: 1rem;
    font-weight: 600;
    font-size: .8rem;
    color: #1E1E1E;
}

}


/* Contact section */


.contact-section {
    margin-top: 8rem;
    padding: 0 0  14rem 0 ;
}


.contact-img {
    /* border: 1px solid red; */
    width: 100%;
    height: 70vh;
    position: relative;
}

.contact-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: 0; */
    background-repeat: no-repeat;
    filter: blur(4px);
}

.contact-titles {
    position: absolute;
    transform: translate(-50%);
    top: 12%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

}

#contact-title-1 {
    z-index: 999;
    font-weight: 600;
    font-size: .6rem;
    color: #F35424;
    padding-left: 3px;
    border-left: 3px solid #F35424;


}

#contact-title-2 {
    text-align: center;
    z-index: 999;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    line-height: 3rem;

}



.contact {
    /* overflow-x: hidden; */
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    left: 50%;
    display: flex;
    gap: 2rem;
    /* flex-wrap: ; */
    /* position: relative; */
    /* border:1px solid palevioletred; */
    /* padding: 0 3vmax; */

}

.contact-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex: 1; */
    /* height: 42vmax; */
    /* width: 58vmax; */
        /* border: 2px solid red; */
        /* width: 20vmax; */
        /* padding: 0 10vmax; */

}

.contact-map .contact-map-img {
    width: 700px;
    height: 460px;
    /* border: 1px solid ; */
}

.contact-map-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    filter: blur(0);
}

form {

    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 430px;
    height: 600px;
    /* flex: 1 */
    /* border: 1px solid; */

}

label {
    font-size:1rem;
    margin:1rem 0;
    color: #1E1E1E;

}

input {
    padding: 1rem 1rem;
    width: 380px;
    height: 40px;
    margin: 1rem 0;
    border: none;
    border-radius: 20px;
    background-color: #F6F6F6;
}

textarea {
    width: 380px;
    height: 140px;
    padding: 1.5rem 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 15px;
    background-color: #F6F6F6;

}

form button {
    margin-top: 3rem;
    width: 200px;
    padding: 1rem 1rem;
    background: #1E1E1E;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.contact-informations {
    /* border: 1px solid ; */
    /* margin-top: 1.8vmax; */
    /* margin-bottom: 5rem; */
    display: flex;
    gap: 2.5rem;

    justify-content: space-between;

    /* padding: 0 1rem; */
    /* margin-bottom: 5rem; */
    /* padding-bottom: 1rem; */
}

.contact-info {
    display: flex;
    align-items: center;
    gap:1.5rem;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    position: relative;
    /* flex:1; */

}

.contact-info i {
    font-size: 3rem;
    color: #F35424;
}

.contact-info-para {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contact-info-para p:nth-child(1){

    color:#1E1E1E ;
    font-weight: 600;
    font-size: 1.2rem;
}
.contact-info-para p:nth-child(2){
    font-weight: 500;
font-size: .9rem;
color: gray;
margin-top: .2rem;
}



/* contact section responsive */

@media only screen and (max-width:1200px) {
    .contact-map .contact-map-img {
        width: 500px;
        height: 430px;
        /* border: 1px solid ; */
    }
    .contact-map-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        filter: blur(0);
    }
    
    .contact-informations {
        gap: 2rem;
        
    }

    .contact-info {
        gap:1.5rem;
        padding: 1rem .7rem;
        flex:1;
    
    }
    .contact-info i {
        font-size: 2.5rem;
        color: #F35424;
    }
}

@media only screen and (max-width:991px) {
    .contact {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        }

        .contact-map {
        gap: 2rem;        
        }
        
    
        .contact-map .contact-map-img {
            width: 100%;
            height: 460px;
        }

        form {

            background: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            /* height: 600px; */
            /* flex: 1 */
            /* border: 1px solid; */
        
    
        }
        
        
input {
    padding: 1rem 1rem;
    width: 650px;
    height: 40px;
    margin: 1rem 0;
}
textarea {
    width: 650px;
    height: 140px;
    padding: 1.5rem 1rem;
    margin-top: 1rem;

}



}

@media only screen and (max-width:767px) {

    input {
        padding: 1rem 1rem;
        width: 500px;
        height: 40px;
        margin: 1rem 0;
    }
    textarea {
        width: 500px;
        height: 140px;
        padding: 1.5rem 1rem;
        margin-top: 1rem;
    
    }
    
}

@media only screen and (max-width:579px) {
    #contact-title-2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
   
    .contact-informations {
        flex-direction: column;
        gap: 2.5rem;
    }
   
    input {
        padding: 1rem 1rem;
        width: 350px;
        height: 40px;
        margin: 1rem 0;
    }
    textarea {
        width: 350px;
        height: 140px;
        padding: 1.5rem 1rem;
        margin-top: 1rem;
    
    }
}

@media only screen and (max-width:425px) {
    
#contact-title-2 {
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;

}


    input {
        padding: 1rem 1rem;
        width:350px;
        height: 40px;
        margin: 1rem 0;
    }
    textarea {
        width: 350px;
        height: 140px;
        padding: 1.5rem 1rem;
        margin-top: 1rem;
    
    }

}
@media only screen and (max-width:424px) {
    input {
        padding: 1rem 1rem;
        width:250px;
        height: 40px;
        margin: 1rem 0;
    }
    textarea {
        width: 250px;
        height: 140px;
        padding: 1.5rem 1rem;
        margin-top: 1rem;
    
    }
}



footer{

    width: 100%;
    margin-top: 17vmax;
    color: white;
    background-color: #1E1E1E;
    padding:2rem 0 2rem 12rem;
    font-size: 18px;
}
@media only screen and (max-width:1024px) {
    footer {
        margin-top: 15rem;
        text-align: center;
        padding: 2rem;
    }
    
}
@media only screen and (max-width:991px) {
    footer {
        margin-top: 49rem;
        text-align: center;
        padding: 2rem;
    }
    
}
@media only screen and (max-width:768px) {
    footer {
        margin-top: 51rem;
        text-align: center;
        padding: 2rem;
    }
    
}

@media only screen and (max-width:579px) {
    footer {
        margin-top: 59rem;
        text-align: center;
        padding: 2rem;
    }
    
}

@media only screen and (max-width:425px) {
    footer {
        margin-top: 59rem;
        text-align: center;
        padding: 2rem;
        font-size: 14px;
    }
    
}